.songsSection {
  padding: 20px;
   color: white;
}

.tabs {
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.carouselItem {
  min-width: 200px;
  flex: 1;
}
