:root {
    --background-color: black;
    --text-color: green;
  }
  
  .feedbackButton {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .feedbackButton:hover {
    opacity: 0.8;
  }
  