/* Listbox styles based on the reference */
.listbox {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid var(--color-primary);
  top: 60px; /* Adjust based on your layout */
  height: max-content;
  max-height: 500px;
  z-index: 10;
  overflow-y: scroll;
  left: 0;
  bottom: 0;
  right: 0;
  list-style: none;
  background-color: var(--color-black);
  overflow: auto;
}

.listbox li.focused {
  background-color: #4a8df6;
  color: white;
  cursor: pointer;
}

.listbox li:active {
  background-color: #2977f5;
  color: white;
}

/* Search bar container styles */
.search-bar-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 400px; /* Adjust width */
  position: relative; /* Ensure it can contain absolute positioned elements */
}

/* Search input styles */
.search-input {
  flex: 1;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  border-radius: 25px 0 0 25px;
}

/* Search button styles */
.search-button {
  background-color: white;
  border: 1px solid #ccc;
  border-left: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
}

.search-button:hover {
  background-color: #f0f0f0;
}

.search-button svg {
  font-size: 18px;
  color: gray;
}
