.search-bar-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 400px; /* Adjust width */
}

.search-input {
  flex: 1;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  border-radius: 25px 0 0 25px;
}

.search-button {
  background-color: white;
  border: 1px solid #ccc;
  border-left: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
}

.search-button:hover {
  background-color: #f0f0f0;
}

.search-button svg {
  font-size: 18px;
  color: gray;
}
